@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 224 71% 4%;
  --foreground: 213 31% 91%;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-family: Arial, Helvetica, sans-serif;
}